body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: 300;
    background: #e6e6e6;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    transition: 0.2s ease;
}
a:hover,a:focus{
text-decoration: none;
outline: none;
}
.navbar-brand{
    margin: 30px 0px;
    margin-left: 300px;
    font-size: 40px;
    color: black;
}
.navbar-brand:hover{
color:black;
}
.content{
    margin: 0 auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    padding: 0;
    transition: all 0.2s ease-in-out;
    background: white; 
}
.nav-link{
   max-width: ;
    margin-left: 50px;
    color: black;
    font-family: Arial;
    font-size: 14px;
    padding: 20px 35px 20px 35px;   
}
.nav-link:hover{
    color: red;
}
.none{
    list-style-type: none;
    display: flex;
    margin-left: 500px;  
    padding: 0px 1rem 0px 1rem;
    font-weight: 700;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    margin-top: -90px;   
}
.img-bar{ 
    height: 100%;
    width: 1200px;
    max-width: 1400px;
    margin-left: -50px;
    margin-top: 100px;
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
    top: 0px;
    left: 0px; 
}
.tm_wrap{
    max-width: 1400px;
    margin: 0 auto; 
}
.ules_nav{
    max-width: 1400px;
    margin: 0 auto;
}
.tags_class{
position: absolute;
margin-top: 200px;
margin-left: 400px;
color: white;
font-size: 3rem;
text-transform: uppercase!important;
}
.bi-arrow-down-circle{
    color: black;
    border-radius: 50%;
    position: absolute;
    margin-left: 520px;
    margin-top: -420px;
}
.bi-arrow-down-circle:hover{
color: white;
background-color: tomato;
cursor: pointer;
border-radius: 50%;
transition: 0.7s;
}
.obshe{
    background-color: whitesmoke;
    width: 1500px;
    margin-left: 200px;
}
.yiare{
    margin-left: 350px;
    margin-top: 50px;
}
.btn1{
    margin-left: 250px;
    color: white;
    background-color: #69c6ba;
    width: 200px;
    height:40px;
    font-size: 18px;
    border: none;
    font-weight: 400;
    cursor: pointer;
}
.btn1:hover{
    background-color: tomato;
    color: white;
    transition: 1.3s;
}
.img3{
    width: 600px;
    height: 500px;
    margin-top: -494px;
    margin-left: 10px;
    
}
.viree_good{
    background-color: white;
    width: 600px;
    height: 500px;
    display: inline-block;
    margin-top: 30px;
    position: relative;
    margin-left: -3.3px;
}
 .torret{
     margin-left: 110px;
 } 
#text1{
    width: 90%;
    float: left;
    padding: 10px;
    margin-left: 30px;
    font-size: 16px;
    font-family: sans-serif;
}
.block2{
background-color: #208d7e;
width: 45%;
height: 250px;
position: relative;
margin-left: 690px;
margin-top: -400px;
}
.btn2{
    color: white;
    background-color:  #444645;
    width: 200px;
    height:40px;
    font-size: 18px;
    border: none;
    font-weight: 400;
    cursor: pointer;
}
.btn2:hover{
    background-color: tomato;
    color: white;
    transition: 1.3s;
}
.viree_good1{
    background-color: white;
    width: 600px;
    height: 500px;
    margin-left: 120px;
    margin-top: 146px;
}
.img4{
    width: 600px;
    height: 500px;
    float: right;
    margin-top: -500px;
    margin-right: 90px;
}
.block3{
   position: relative;
    width: 45%;
    height:250px;
    background-color:#208d7e;
    margin-left: 120px;
    margin-top: -400px;
}
#text2{
    width: 90%;   
    padding: 10px;
    margin-left: 30px;
    font-size: 16px;
    font-family: sans-serif;
}
.btn3{
    color: white;
    background-color: #444645;
    width: 200px;
    height:40px;
    font-size: 18px;
    border: none;
    font-weight: 400;
    cursor: pointer;  
}
.btn3:hover{
    background-color: tomato;
    color: white;
    transition: 1.3s;
}
.tm-tabs-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    background: #69c6ba;
}
.tm-tab-link {
    padding: 30px 25px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-size: 0.9rem;
    height: 100%;
}
.tm-tab-link:hover { color: white; }

.tm-tab-link-li {
    background: transparent;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    transition: all 0.3s ease;    
}
.tm-tab-link:hover,
.tm-tab-link.active {
    background: #c66995;
}

.tab-pane {
    max-width: 970px;
    margin: 60px auto;
}
.tm-recommended-place {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    margin-bottom: 25px;
}
.tm-recommended-title {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;    
}
.tm-recommended-img { width: 270px; }
.tm-recommended-description-box {
    padding: 30px;
    width: 500px;
}
.mato1{
    position: relative;
    background-color: white;
    height: 230px;
    width: 1400px;
    margin-top: 20px;
}
.kiki1{
    width: 250px;
    height: 230px;
}
.text6{
width: 50%;
margin-left: 280px;
margin-top: -180px;
}
#block8{
background-color: teal;
width: 200px;
height:230px;
float: right;
margin-top: -169px;
border-radius: 100px 0px 0px 100px;
}
.text9{
    margin-top: 70px;
    margin-left: 50px;
    font-size: 30px;
}
.tex1{
    margin-left: 70px;
    font-size: 25px;
}
#block8:hover{
    background-color: tomato;
    color: white;
    cursor: pointer;
    transition: 1s;
}
.btn5{
    margin-top: 20px;
    width: 200px;
    height: 40px;
    margin-left: 550px;
    background-color: teal;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 22px;
}
.btn5:hover{
    background-color: coral;
    color: white;
    cursor: pointer;
    transition: 1s;
}
.regist{
    margin-top: 100px;
    margin-left: 900px;
}
#area{
    height: 280px;
    width: 360px;
    background-color:  white; 
   border: none ;
   color: black; 
   border-radius: 5px; 
}
.wedab{
    border: none;
    height: 40px;
    border-radius: 6px;
    text-align: center;
}
#btn10{
    margin-top: 25px;
    margin-left: 900px;
    width: 362px;
    height: 38px;
    font-size: 20px;
    background-color: coral;
    color: black;
    border: none;
    cursor: pointer;
}
#btn10:hover{
    background-color: cornflowerblue;
    color: whitesmoke;
    cursor: pointer;
    transition: 1s;
}
.foot{
    background-color: coral;
    width: 1500px;
    height: 100px;
    margin-left: -50px;
}
.foot1{
    margin-top: 0px;
    text-align: center;
    justify-items: center;
    font-size: 18px;
    font-family: cursive;
}