*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body{
	background-color:rgb(240, 240, 240); 
    background-size: cover;
    font-family: Arial;
    margin: 0;
}
li{
	list-style: none;
	padding: 20px 40px;
	color: white; 
    width: 175px;
   text-decoration: underline;

}
.nav-class{
	margin: 20px;
	padding: 20px;

}
.div-class{
	background-color: black;
	color: white;
    width: 13%;
    height: 100vh;
    display: flex;
	opacity: 0.9;
	position: fixed;
	margin: 0;
	}
/*	ul,li{
		margin-top: 0;
		margin-left:  0px;
	}*/

#rel{
	height: 50px;
	margin-left: 20px;
	margin-top: -30px;
	font-weight: bold;
}
#kabbej{
	width: 30px;
	height: 30px;
	border: none;
	margin-left: -20px;
}
li:hover{
	background-color: gray;
	color: white;
	text-align: center;
	
}


.bi-battery{
margin-left: -35px;
margin-top: -90px;
}

.bi-check-circle{
margin-left: -35px;
margin-top: -90px;
}
.bi-lamp-fill{
margin-left: -35px;
margin-top: -90px;

}
.bi-controller{
margin-left: -35px;
margin-top: -90px;		
}
.bi-app{
margin-left: -35px;
margin-top: -90px;	
}
.bi-calendar{
margin-left: -35px;
margin-top: -90px;
}
.bi-stop-circle{
margin-left: -35px;
margin-top: -90px;	
}
.bi-server{
margin-left: -35px;
margin-top: -90px;
}
.bi-sun{
margin-left: -35px;
margin-top: -90px;	
}
.bi-journal{
	margin-left: 1160px;
	margin-top: -65px;
}
.bi-check-circle{
margin-left: 1400px;
color: black;
margin-top: -120px;
}
.bi-search{
margin-left: 1110px;
margin-top: -70px;
color: black;
}

}
#border_botton{
	border-bottom: solid ;
	background-color: white;
	border: 1px;
	width: 218px;
	height: 1px;
	margin-left: -80px;
	margin-top: -30px;
}
.karta{
	margin-left: 400px;
	margin-bottom: -67px;
}
.tit_modal{
	margin-left: 900px;
	margin-top: -35px;
	 position: fixed;
	 border: none;
	 border-radius: 5px;
	 text-align: center;
	 background-color: black;
	 opacity: 0.5;

}
.kareya{
	margin-left: 1250px;
    margin-top: -60px;
    position: fixed;
	font-weight: bold;
	color: black;
}
.male_cont{
	background-color: white;
	padding: 20px 55px;
    position: fixed;
    box-shadow: 10px 10px 5px white;

}
.kaws1{
	width: 300px;
margin-top: -50px;
margin-left: 100px;
}
.col-xl-3{
	margin-top: 150px;
	background-color:white;
	padding: 30px;
	border-radius:7px; 
    color: black;
    border: solid white;
    
}
.row{
	height: 350px;
	width: 1200px ;
    
}
.display{
	display: flex;
}
.bloc1{
	margin-left: 300px;
	margin-top:-35px;
	position: fixed;

}
.bloc2{
	margin-left: 700px;
	margin-top:-35px;
	position: fixed;
}

.bloc3{
	margin-left: 1150px;
	margin-top:-35px;
	position: fixed;
}
.bloc4{
	margin-left: 1550px;
	margin-top:-35px;
	position: fixed;
}
.col-xl-3:hover{
	cursor: pointer;
	background-color: white;
	color: black;
	border: solid black;
}
.big_blok{
	width: 1550px;
	height: 600px;
	position: fixed;
	margin-top: 350px;
	margin-left: 295px;
	background-color:white;
	border-radius: 8px;     
}
.static{
	margin-left: 10px;
	margin-top: 10px;
}
.flex1{
	width: 450px;
	height: 110px;
    position: fixed;
	margin-left: 1050px;
	text-align:center; 
	border-bottom: 1px solid rgb(60, 60, 60); 
}

.flex2{
	position: fixed;
	margin-left: 1050px;
	margin-top: 135px;
	text-align:center; 
	border-bottom: 1px solid rgb(60, 60, 60); 
	width: 450px;
	height: 110px;
}

.flex3{
	position: fixed;
	margin-left: 1050px;
	margin-top: 270px;
	text-align:center; 
	border-bottom: 1px solid rgb(60, 60, 60); 
	width: 450px;
	height: 110px;
}
.flex4{
	position: fixed;
	margin-left: 1050px;
	margin-top: 410px;
	text-align:center; 
	border-bottom: 1px solid rgb(60, 60, 60); 
	width: 450px;
	height: 110px;
}

